{% extends './layout.html' %}

{% block title %} index {{ title }} {% endblock %}

{% block head %}
<link rel="stylesheet" href="styles/index.css">
<script src="scripts/x-tag-core.js"></script>
<script src="scripts/index.js"></script>
{% endblock %}

{% block content %}
<div class="book-index">
  <h1>Books</h1>
	<x-clock></x-clock>
  <p>
    <a href="/create" class="btn btn-success">新建图书</a>
	</p>
	<x-books></x-books>
	<!-- <table class="table book_table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Author</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% set books = books %}
			{% for book in books %}
				<tr>
					<td scope="row">{{ loop.index }}</td>
					<td>{{ book.id }}</td>
					<td>{{ book.name }}</td>
					<td>{{ book.author }}</td>
					<td><a class="book_remove" href="#" data-id="{{ book.id }}"><span>删除</span></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table> -->

</div>
{% endblock %}